html, body, #root, .App, .FillParent {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
    display: grid;
    grid-template-areas:
    "logo date meetings calendar"
    "countdown countdown meetings calendar";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #00272b;
    grid-gap: 1em;
}

.date {
  background: linear-gradient(#8bffe8, #1e3631);
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 2.5em;
  align-items: center;
  justify-content: center;
}

.logocontainer {
  background: linear-gradient(#fdff8b, #36341e);
  color: white;
  grid-area: logo;
  display: flex;
  padding: 1em;
}

.logo {
  flex: 1;
  background-image: url("./digit_logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.countdown {
  background: linear-gradient(#ff8bbb, #361e2c);
  display: flex;
  color: white;
  grid-area: countdown;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.meetings {
  background: linear-gradient(#8bb0ff, #1e2436);
  color: white;
  grid-area: meetings;
  display: flex;
}

.calendar {
  background: linear-gradient(#ff8b8b, #361e1e);
  color: white;
  grid-area: calendar;
}
